:root {
  --grid-size:
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
header {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.container {
  display: grid;
  width: 80%;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  list-style: none;
  gap: 0px;
}

.grid > *,
.box {
  aspect-ratio: 1/1;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(195, 195, 195);
}

.box:hover{
background-color: rgb(31, 124, 105);
}



input,
button {
  margin-bottom: 1rem;
}
